*{
	margin: 0;
}

/*formatação-header*/

body{
	background-image: url(images/fundo5.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	font-family: 'Nanum Myeongjo', serif;
	color: white;
}

header{
	height: 80px;
	color: red;
	display: flex;
	margin: 0 auto;
	background-color: black;
	opacity: 80%;
	padding: 5px;
}

#formatacao-header{
	max-width: 980px;
	display: flex;
	margin: 0 auto;
}

i:hover{
	color: white;
}

.contato li{
	display: inline;
}

i{
	width: 40px;
	color: rgb(240, 110, 110);
	font-size: 30px;
}

#navbar{
	padding: 20px;
	margin-right: 200px;
}

#navbar p{
	margin-left: 10px;

}

.search{
	padding-top: 30px;
}

.contato{
	padding-top: 30px;
}

/*formatação-main*/

main{
	max-width: 980px;
	margin: 0 auto;
	color: white;
}

.perfil{
	text-align: center;
	margin-top: 60px;
	justify-content: center;
}

.perfil img{
	border-radius: 400px;
	width: 200px;
}

.perfil p{
	margin: 0 auto;
	opacity: 90%;
	margin-top: 30px;
	font-size: 20px;
}

.estilo-lateral{
	border: solid;
	height: 100px;
	width: 10px;
	margin-top: 30px;
	background: red;
	margin-bottom: 10px; 
}

.name-skills{
	margin: 50px;
	text-align: center;
}

.skills{
	margin-top: 10px;
	display: flex;

}
.skills h1{
	margin-left: 20px;
	margin-top: 60px;
	font-size: 30px;
}
.skills li{
	display: inline;
	text-decoration: none;
}

.skills i{
	font-size: 50px;
	margin-left: 50px;
	margin-top: 60px;
}

.projetos{
	margin: 0 auto;
}

.projetos img{
	width: 500px;
	margin: 20px 0 0 230px;
}

.projetos p{
	font-size: 22px;
	margin-left: 150px;
}

.arrow{
	margin: 30px;
	text-align: center;
}

/*formatação footer*/

footer{
	background: red;
	margin-top: 30px;
	opacity: 80%;
	height: 520px;
}

footer h1{
	padding: 40px;
	text-align: center;
}

footer div{
	margin: 10px;
}

footer input, textarea, p{
	width: 70%;
	justify-content: center;
	margin-left: 80px;
}

#form{
	max-width: 600px;
	margin: 0 auto;
	color: black;
}

button{
	margin-left: 90px;
}

